/**
 * Estilos generales para la página web
 */

/* Importar la fuente "Martian Mono" desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&display=swap');

/* Estilos generales para el cuerpo del documento */
body {
    font-family: 'Martian Mono', monospace;
    font-weight: bold;
    margin: 0;
    background-image: linear-gradient(to right top, #000000, #270d1b, #430f38, #57175f, #5b2990, #6343ad, #6a5cc9, #7075e6, #9996ed, #beb7f4, #dfdbfa, #ffffff);
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

/* Estilos para la seccion de contenido*/
.contenido{
    background-image: url('../sources/Fondos/fondo-div-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2vh 1px 3vh 1px;
    width: auto;
    height: 30vh;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.header-contenidos {
    margin: 0;
    border: 1px solid black;
    width: 100%;
    height: 21%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


